{% extends "page.html" %}

{% set pkg = pkg_dict or c.pkg_dict %}
{% set name = pkg.title or pkg.name %}
{% set editor = h.get_wysiwyg_editor() %}

{% set ckan_29_or_higher = h.ckan_version().split('.')[1] | int >= 9 %}
{% set showcase_read_route = 'showcase_blueprint.read' if ckan_29_or_higher else 'showcase_read' %}
{% set showcase_index_route = 'showcase_blueprint.index' if ckan_29_or_higher else 'showcase_index' %}
{% set showcase_edit_route = 'showcase_blueprint.edit' if ckan_29_or_higher else 'showcase_edit' %}

{% block subtitle %}{{ pkg.title or pkg.name }} - {{ _('Showcases') }}{% endblock %}

{% block styles %}
  {{ super() }}
  {% set _type = 'asset' if h.ckan_version().split('.')[1] | int >= 9 else 'resource'  %}
  {% snippet 'showcase/snippets/showcase_css_' ~ _type ~ '.html' %}
  {% if editor == 'ckeditor' %}
    {% snippet 'showcase/snippets/ckeditor_content_css_' ~ _type ~ '.html' %}
  {% endif %}
{% endblock %}

{% block links -%}
    {{ super() }}
    <link rel="alternate" type="application/rdf+xml" href="{{ h.url_for(showcase_read_route, id=pkg.id, format='rdf', qualified=True) }}"/>
{% endblock -%}

{% block head_extras -%}
    {{ super() }}
    {% set description = h.markdown_extract(pkg.notes, extract_length=200)|forceescape %}
    <meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - {{ g.site_title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ h.full_current_url() }}">
    {% if pkg.image_display_url %}
        <meta property="og:image" content="{{ pkg.image_display_url }}">
    {% endif %}
{% endblock -%}

{% block breadcrumb_content_selected %} class="active"{% endblock %}

{% block breadcrumb_content %}
    {% set showcase = pkg.title or pkg.name %}
    <li>{{ h.nav_link(_('Showcases'), named_route=showcase_index_route, highlight_actions = 'new index') }}</li>
    <li{{ self.breadcrumb_content_selected() }}>{% link_for showcase|truncate(30), named_route=showcase_read_route, id=pkg.name %}</li>
{% endblock %}

{% block page_header %}
{% endblock %}

{% block pre_primary %}
{% endblock %}

{% block primary_content_inner %}
    {% if h.check_access('ckanext_showcase_update', {'id':pkg.id }) %}
        <div class="actions">
            {% link_for _('Manage'), named_route=showcase_edit_route, id=pkg.name, class_='btn btn-default', icon='wrench' %}
        </div>
    {% endif %}
    {% block package_description %}
        {% if pkg.private %}
            <span class="dataset-private label label-inverse pull-right">
                <i class="fa fa-lock icon-lock"></i>
                {{ _('Private') }}
            </span>
        {% endif %}
        <h1>
            {% block page_heading %}
                {{ name }}
                {% if pkg.state.startswith('draft') %}
                    [{{ _('Draft') }}]
                {% endif %}
            {% endblock %}
        </h1>

        {% if pkg.image_display_url %}
            <p class="ckanext-showcase-image-container"><img src="{{ pkg.image_display_url }}" alt="{{ name }}" class="media-image ckanext-showcase-image img-responsive"></p>
        {% endif %}

    {% block package_notes %}
      {% if pkg.showcase_notes_formatted and editor == 'ckeditor' %}
        <div class="ck-content">
          {{ pkg.showcase_notes_formatted|safe }}
        </div>
      {% elif pkg.showcase_notes_formatted %}
        <div class="notes embedded-content ckanext-showcase-notes">
          {{ pkg.showcase_notes_formatted }}
        </div>
      {% endif %}
    {% endblock %}

        {% if pkg.url %}
            <p><a class="btn btn-primary ckanext-showcase-launch" href="{{ pkg.url }}" target="_blank"><i class="fa fa-external-link icon-external-link"></i> {{ _('Launch website') }}</a></p>
        {% endif %}

    {% endblock %}

    {% block package_tags %}
        {% snippet "showcase/snippets/tags.html", tags=pkg.tags %}
    {% endblock %}

    {% block package_search_results_list %}
    {% endblock %}

{% endblock %}

{% block secondary_content %}
    {% block secondary_help_content %}{% endblock %}

    {% block package_info %}
        {% snippet 'showcase/snippets/showcase_info.html', pkg=pkg, showcase_pkgs=c.showcase_pkgs %}
    {% endblock %}

    {% block package_social %}
        {% snippet "snippets/social.html" %}
    {% endblock %}
{% endblock %}
