{% extends "page.html" %}

{% set pkg = pkg_dict or c.pkg_dict %}
{% set display_title = pkg.display_title %}
{% set display_notes = pkg.display_notes %}
{% set display_notes_formatted = pkg.display_notes_formatted %}
{% set editor = h.showcase_get_wysiwyg_editor() %}

{% set showcase_read_route = 'showcase_blueprint.read' %}
{% set showcase_index_route = 'showcase_blueprint.index' %}
{% set showcase_edit_route = 'showcase_blueprint.edit' %}

{% block subtitle %}{{ display_title }} - {{ _('Reuses') }}{% endblock %}

{% block styles %}
  {{ super() }}
  {% asset "showcase/ckanext-showcase-css" %}
  {% if editor == 'ckeditor' %}
    {% asset 'showcase/ckeditor' %}
  {% endif %}
{% endblock %}

{% block links -%}
    {{ super() }}
    <link rel="alternate" type="application/rdf+xml" href="{{ h.url_for(showcase_read_route, id=pkg.id, format='rdf', qualified=True) }}"/>
{% endblock -%}

{% block head_extras -%}
    {{ super() }}
    {% set description = h.markdown_extract(display_notes, extract_length=200)|forceescape %}
    <meta property="og:title" content="{{ h.dataset_display_name(pkg) }} - {{ g.site_title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ h.full_current_url() }}">
    {% if pkg.image_display_url %}
        <meta property="og:image" content="{{ pkg.image_display_url }}">
    {% endif %}
{% endblock -%}

{% block breadcrumb_content_selected %} class="active"{% endblock %}

{% block breadcrumb_content %}
    {% set showcase = display_title %}
    <li>{{ h.nav_link(_('Reuses'), named_route=showcase_index_route) }}</li>
    <li{{ self.breadcrumb_content_selected() }}>{% link_for showcase|truncate(30), named_route=showcase_read_route, id=pkg.name %}</li>
{% endblock %}


{% block content_primary_nav %}
  {{ h.build_nav_icon(showcase_read_route, _('Reuse Details'), id=pkg.id, icon='info-circle') }}
{% endblock %}

{% block pre_primary %}
{% endblock %}


{% block content_action %}
    {% if h.check_access('ckanext_showcase_update', {'id':pkg.id }) %}
        {% link_for _('Manage'), named_route=showcase_edit_route, id=pkg.name, class_='btn btn-default', icon='wrench' %}
    {% endif %}
{% endblock %}

{% block primary_content_inner %}
    {% block package_description %}
        {% if pkg.approval_status.status != 'd' %}
            <span class="dataset-private label label-inverse pull-right">
                <i class="fa fa-lock icon-lock mx-1"></i>
                    {{ pkg.approval_status.display_status }}
            </span>
        {% endif %}
        <h1>
            {% block page_heading %}
                {{ display_title }}
                {% if pkg.state.startswith('draft') %}
                    [{{ _('Draft') }}]
                {% endif %}
            {% endblock %}
        </h1>

        {% if pkg.image_display_url %}
            <p class="ckanext-showcase-image-container"><img src="{{ pkg.image_display_url }}" alt="{{ display_title }}" class="media-image ckanext-showcase-image img-fluid"></p>
        {% endif %}

    {% block package_notes %}
      {% if display_notes_formatted and editor == 'ckeditor' %}
        <div class="ck-content">
          {{ display_notes_formatted|safe }}
        </div>
      {% elif display_notes_formatted %}
        <div class="notes embedded-content ckanext-showcase-notes">
          {{ display_notes_formatted }}
        </div>
      {% endif %}
    {% endblock %}

        {% if pkg.url %}
            <p><a class="btn btn-primary ckanext-showcase-launch" href="{{ pkg.url }}" target="_blank"><i class="fa fa-external-link icon-external-link"></i> {{ _('Launch website') }}</a></p>
        {% endif %}

    {% endblock %}

    {% block package_tags %}
        {% snippet "showcase/snippets/tags.html", tags=pkg.tags %}
    {% endblock %}

    {% block package_search_results_list %}
    {% endblock %}

{% endblock %}

{% block secondary_content %}
    {% block secondary_help_content %}{% endblock %}

    {% block package_info %}
        {% snippet 'showcase/snippets/showcase_info.html', pkg=pkg, showcase_pkgs=c.showcase_pkgs %}
    {% endblock %}

    {% block package_social %}
        {% snippet "snippets/social.html" %}
    {% endblock %}
{% endblock %}
