{% extends "package/search.html" %}
{% import 'macros/form.html' as form %}
{% set ckan_29_or_higher = h.ckan_version().split('.')[1] | int >= 9 %}
{% set showcase_index_route = 'showcase_blueprint.index' if ckan_29_or_higher else 'showcase_index' %}
{% set showcase_new_route = 'showcase_blueprint.new' if ckan_29_or_higher else 'showcase_new' %}


{% block subtitle %}{{ _("Showcases") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Showcases'), named_route=showcase_index_route, highlight_actions = 'new index') }}</li>
{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('ckanext_showcase_create') %}
    <div class="page_primary_action">
      {% link_for _('Add Showcase'), named_route=showcase_new_route, class_='btn btn-primary', icon='plus-square' %}
    </div>
  {% endif %}
{% endblock %}

{% block form %}
  {% set facets = {
    'fields': c.fields_grouped,
    'search': c.search_facets,
    'titles': c.facet_titles,
    'translated_fields': c.translated_fields,
    'remove_field': h.facet_remove_field }
  %}
  {% set sorting = [
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Name Ascending'), 'title_string asc'),
    (_('Name Descending'), 'title_string desc'),
    (_('Last Modified'), 'metadata_modified desc'),
    (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
  %}
  {% snippet 'showcase/snippets/showcase_search_form.html', type='showcase', placeholder=_('Search showcases...'), query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields, no_bottom_border=true %}
{% endblock %}

{% block package_search_results_list %}
  {{ h.snippet('showcase/snippets/showcase_list.html', packages=c.page.items) }}
{% endblock %}

{% block package_search_results_api %}
{% endblock %}

{% block secondary_content %}
{{ h.snippet('showcase/snippets/helper.html') }}
<div class="filters">
  <div>
    {% for facet in c.facet_titles %}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle icon-remove-sign"></i><span class="text">close</span></a>
</div>
{% endblock %}
