{% extends "group/snippets/info.html" %}

{% block description %}
{% if group.description %}
  <p>
    {{ h.markdown_extract(group.description, 180) }}
    {% link_for _('read more'), controller='ckanext.showcase.controller:ShowcaseController', action='about', id=group.name %}
  </p>
{% endif %}
{% endblock %}

{% block nums %}
{# <div class="nums">
  <dl>
    <dt>{{ _('Datasets') }}</dt>
    <dd>{{ h.SI_number_span(group.packages|length) }}</dd>
  </dl>
</div> #}
{% endblock %}

{% block follow %}
{% endblock %}
