{#
    Displays a single dataset of type 'showcase'.
    
    showcase        - A showcase to display.
    item_class     - The class name to use on the list item.
    truncate       - The length to trucate the description to (default: 180)
    truncate_title - The length to truncate the title to (default: 85).
    show_remove    - If True, show the remove button to remove showcase/dataset association.
    
    #}
    {% set truncate = truncate or 180 %}
    {% set truncate_title = truncate_title or 80 %}
    {% set title = showcase.title or showcase.name %}
    {% set notes = h.markdown_extract(showcase.notes, extract_length=truncate) %}
    
    {% block showcase_item %}
    
    <div class="media-item">
      {% block item_inner %}
        {% block title %}
          <h3 class="media-heading">{{ h.link_to(h.truncate(title, truncate_title), "testing") }}</h3>
        {% endblock %}
        {% block notes %}
          {% if notes %}
            <div>{{ notes|urlize }}</div>
          {% else %}
            <p class="empty">{{ _("This showcase has no description") }}</p>
          {% endif %}
        {% endblock %}
      {% endblock %}
    </div>
    {% endblock %}
